<html>
    <head>
        <title>TLS</title>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link href="resources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/tls.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/cloud-zoom.css"/>
        <script type="text/javascript" src="resources/scripts/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery.scrollExtend.min.js"/>
    </head>
    <body id="body">
        <div id="grey-top">
            <div id="grey-bot">
                <div id="container">
                    <div id="header">
                        <div class="title">
                            <div class="main-title">Thesaurus Linguae Sericae</div>
                            <div class="subtitle">Shang Dynasty Divination Texts: Bingbian</div>
                        </div>
                        <!--<img alt="TLS" src="resources/images/header.gif"/>-->
                        <ul>
                            <li>
                                <a href="search.html">Search</a>
                            </li>
                            <li>
                                <a href="index.html?logout">Log In/Out</a>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                        </ul>
                    </div>
                    <div class="container-fluid" id="main">
                        <div class="row-fluid" id="container-body">
                            <!-- Page content will be injected into the div below -->
                            <div class="span12" id="content"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div id="footer">
            <div id="copyright">
                <p>Copyright © TLS Project 2012</p>
            </div>
        </div>-->
        <script type="text/javascript" src="resources/scripts/cloud-zoom.1.0.2.min.js"/>
        <script src="resources/scripts/edit.js" type="text/javascript" charset="utf-8"/>
    </body>
</html>