<html>
    <head>
        <title>Shang Dynasty Divination Texts: Bingbian - 商代卜辭：
            殷墟文字丙編</title>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link href="resources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/tls.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/cloud-zoom.css"/>
        <script type="text/javascript" src="resources/scripts/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery.scrollExtend.min.js"/>
    </head>
    <body id="body">
        <div id="grey-top">
            <div id="grey-bot">
                <div id="container">
                    <div id="header">
                        <div class="title">
                            <div class="main-title">Shang Dynasty Divination Texts: Bingbian - 商代卜辭：殷墟文字丙編</div>
                            <div class="subtitle">Transcribed and translated by Ken-ichi Takashima, with David Sehnal,
                                Christoph Harbsmeier, and Marco Caboara</div>
                            <div class="subsubtitle">A part of the <a href="http://tls.uni-hd.de" target="_blank">Thesaurus Linguae Sericae</a> and a
                                project of the <a href="http://www.ikgf.uni-erlangen.de" target="_blank">International Consortium for Research in the Humanities
                                "Fate, Freedom and Prognostication" at the University Erlangen-Nuremberg</a>
                            </div>
                        </div>
                        <ul class="menu">
                            <li>
                                <a href="search.html">Search</a>
                            </li>
                            <li class="tls:logon-link"/>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                        </ul>
                        <!--<img alt="TLS" src="resources/images/header.gif"/>-->
                    </div>
                    <div class="container-fluid" id="main">
                        <div class="row-fluid" id="container-body">
                            <!-- Page content will be injected into the div below -->
                            <div class="span12" id="content"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div id="footer">
            <div id="copyright">
                <p>Copyright © TLS Project 2012</p>
            </div>
        </div>-->
        <script type="text/javascript" src="resources/scripts/cloud-zoom.1.0.2.min.js"/>
        <script src="resources/scripts/edit.js" type="text/javascript" charset="utf-8"/>
    </body>
</html>